.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
}

.grid > div {
  background-color: #04AA6D;
  color: white;
  padding: 20px;
  text-align: center;
}

.col-8 {
  grid-column: span 8;
}

.col-4 {
  background-color: dimgray !important;
  grid-column: span 4;
}