div {
  height: 100px;
  color: white;
  padding: 20px;
  margin: 10px 0;
  font-size: 20px;
}

#linear {
  background-image: linear-gradient(to right, red, yellow);
}

#radial {
  background-image: radial-gradient(red, yellow);
}
