.grid-container {
  background-color: #f1f1f1;
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.grid-container > div {
  background-color: #04AA6D;
  color: white;
  padding: 20px;
  text-align: center;
}
