span {
  background-color: #04AA6D;
  color: white;
  padding: 5px;
  width: 150px;
  height: 50px;
  margin: 5px;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
  width: 150px;
  height: 50px;
}
