.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 4px;
  position: absolute;
  visibility: hidden;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
